:root {
  --background-clr: #dde1e7;
  --input-clr: grey;
  --boxshadow-out: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
  --boxshadow-in: inset -3px -3px 7px #ffffff73,
    inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background-clr);
  transition: background-color 500ms ease-out;
}

.container {
  min-width: 65%;
}

.container .wrapper {
  width: 100%;
  border-radius: 8px;
  padding: 30px;
  background-color: var(--background-clr);
  box-shadow: var(--boxshadow-out);
}

.wrapper .keys {
  display: flex;
  justify-content: center;
}

input {
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--input-clr);
  text-transform: uppercase;
  background-color: var(--background-clr);
  box-shadow: var(--boxshadow-out);
  transition: background-color 600ms ease-out, color 300ms ease-out;
}
p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.toggle {
  font-size: 15px;
  letter-spacing: 3px;
  height: 35px;
  border-radius: 7px;
  padding: 0px 5px;
  margin: 15px 0px;
}

.wrapper .keys input:active {
  font-size: 19px;
  box-shadow: var(--boxshadow-in);
  color: #3498db;
}

.wrapper .keys input[value="space"] {
  width: 60%;
  max-width: 450px;
}
.wrapper .display {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  user-select: none;
}

.wrapper .display textarea {
  font-size: 20px;
  font-weight: 600;
  color: #3498db;
  height: 100%;
  width: 100%;
  resize: none;
  pointer-events: none;
  border: none;
  text-transform: capitalize;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  background-color: var(--background-clr);
  box-shadow: var(--boxshadow-in);
}
@media (max-width: 700px) {
  .container {
    width: 100vw;
  }
  .container .display {
    width: 95%;
    height: 20vw;
    margin: 0px auto 10px auto;
  }
  .container .display textarea {
    font-size: 10px;
  }
  .container .wrapper {
    max-width: 98vw;
    min-width: 98vw;
    border-radius: 6px;
    padding: 10px 2px;
  }
  .wrapper .keys input {
    font-size: 11px;
    font-weight: 600;
    height: 26px;
    min-width: 26px;
    padding: 0px;
    margin: 1.4vw;
  }
  .wrapper .keys input[value="space"] {
    max-width: 280px;
  }
  .wrapper .keys input:active {
    font-size: 10px;
  }
}
@media (max-width: 420px) {
  .wrapper .keys input {
    font-size: 10px;
    height: 6vw;
    min-width: 6vw;
  }
  .wrapper .keys input:active {
    font-size: 9px;
  }
}
